* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #147CB7;
  --secondary: #B8C61B;
  --background: #E7E7E7;
  --footer: #343434;
  --white: #fff;
  --border: #a6a6a6;
  --background-message-success: #76e7a5;
  --background-message-error: #e77676;
  --text-message-success: #02703d;
  --text-message-error: #700202;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  
  background: #f3f3f3;
}

header  {
    width: 100%;
    height: 70px;

    background-color: var(--primary);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    /* background: rgba(20, 124, 183, 0.5); */
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

    /* background: red; */

}

header .container .logo {
    padding: 0px 15px;

    width: auto;
    height: 70%;

    border-left: 5px solid var(--secondary);
    text-decoration: none;
    /* background: blue; */

    font-size: 2.5em;
    color: var(--secondary);
    
}

header .container nav {
    display: block;
    padding: 0px 10px;

    width: auto;
    height: 80%;

    /* border: 1px solid #000; */
}
 
header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    width: 100%;
    height: 100%;

    /* background: red; */
}

header .container nav ul a {
    padding: 7px 15px;

    width: auto;
    height: auto;

    /* border: 1px solid #B8C61B; */
    border-bottom: 2px solid var(--secondary);
    /* border-radius: 5px; */
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}

header .container .menu {
    display: none;
}


.container {
  margin: 30px auto;
  
  width: 95vw;
  max-width: 400px;
  height: auto;
}

.container form  {
  display: flex;
  flex-direction: column;
  
  margin: auto;
  padding: 15px;
  
  width: 100%;
  height: auto;
  
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container form .box {
  width: 100%;
  height: auto;
}

.container form .box .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding: 5px;
  
  width: 100%;
  height: auto;
  
  border-bottom: 2px solid #f3f3f3;
}

.container form .box .title h2 {
  font-size: 1em;
  font-weight: 600;
  color: #595959;
}

.container form .box .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  
  margin-top: 1em;
  
  width: 100%;
  height: auto;
  
  background-color: #fff;
}

.container form .box .input input {
  width: 50%;
  height: 40px;
  
  outline: transparent;
  border: none;
  background: transparent;
  
  font-size: 1em;
}

.container form .box textarea {
    margin: 10px 0px 0px 0px;
    padding: 5px;

    width: 100%;

    outline: transparent;
    border-radius: 3px;
    border: 2px solid var(--border);
}

.container form button {
  margin: 30px auto 0px 0px;
  padding: 10px 30px;
  
  outline: transparent;
  border-radius: 5px;
  border: none;
  background-color: #0099ff;
  
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

.success_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 20px auto;
  
  width: 85vw;
  max-width: 400px;
  min-width: 260px;
  height: 50px;
  
  border-radius: 5px;
  background: var(--background-message-success);
  
  font-size: 1.3em;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  color: var(--text-message-success);
}

.error_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 20px auto;
  
  width: 85vw;
  max-width: 400px;
  min-width: 260px;
  height: 50px;
  
  border-radius: 5px;
  background: var(--background-message-error);

  font-size: 1.3em;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  color: var(--text-message-error);
}

@media (max-width: 425px) {
    header .container .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 1.5em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100vh - 70px);
        background: var(--primary);

        transition: .6s;

        visibility: hidden;
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 15px;


        width: 40px;
        height: 40px;

        /* background-color: red; */
    }

    header .container nav.active {
        display: block;
        
        width: 100vw;

        transition: .6s;
        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul a {
        width: 90%;

        font-size: 1.2em;
    }

}
